<%= form_for @reservation do |f| %>
	
	<% if @reservation.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@reservation.errors.count, "error") %> prohibited this article from being saved:
			</h2>
			<ul>
				<% @reservation.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>		
		</div>
	<% end %>
	<p>
		<%= f.label :hotel_id %><br>
		<%= f.number_field :hotel_id %>
	</p>

	<p>
		<%= f.label :table_id %><br>
		<%= f.number_field :table_id %>
	</p>

	<p>
		<%= f.label :status %><br>
		<%= f.number_field :status %>
	</p>

	<p>
		<%= f.label :comment %><br>
		<%= f.text_area :comment %>
	</p>
	

	<p>
		<%= f.submit %>
	</p>
<% end %>
